<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: blkbutterfly74 -->
<!-- DateCreated: 2/8/2018 4:51:04 PM -->
<GameInfo>
	<Maps>
		<!-- for R&F -->
		<Row Domain="Maps:Expansion1Maps" File="{116E92DD-C254-4554-B305-8BE491584E42}Maps/SouthAsia.lua" Name="LOC_SOUTH_ASIA_MAP_NAME" Description="LOC_SOUTH_ASIA_MAP_DESCRIPTION"/>

		<!-- for base game -->
		<Row File="{116E92DD-C254-4554-B305-8BE491584E42}Maps/SouthAsia.lua" Name="LOC_SOUTH_ASIA_MAP_NAME" Description="LOC_SOUTH_ASIA_MAP_DESCRIPTION"/>
	</Maps>

	<!-- advanced settings -->
	<Parameters>
		<Row Key1="Map" Key2="{116E92DD-C254-4554-B305-8BE491584E42}Maps/SouthAsia.lua" ParameterId="WorldAge" Name="LOC_MAP_WORLD_AGE_NAME" Description="LOC_MAP_WORLD_AGE_DESCRIPTION" Domain="WorldAge" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="world_age" GroupId="MapOptions" Hash="0" SortIndex="230"/>
		<Row Key1="Map" Key2="{116E92DD-C254-4554-B305-8BE491584E42}Maps/SouthAsia.lua" ParameterId="Rainfall" Name="LOC_MAP_RAINFALL_NAME" Description="LOC_MAP_RAINFALL_DESCRIPTION" Domain="Rainfall" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="rainfall" GroupId="MapOptions" Hash="0" SortIndex="250"/>
	</Parameters>
</GameInfo>
